.App {
  text-align: center;
  align-items: center;
}

#city-search {
  display: inline;
  align-items: center;  
  width: 900px;
  margin: 0 auto;
  padding: 10px;
  background: #fff;
}

.city {
  display: inline;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 300px;
  height: 20px;
  transition: 0.4s ease;
}

.city:hover {
  border: 1px solid #00000066;
}

.suggestions {
  display: inline;
  list-style: none;
}

.suggestion-item {
  color: #757575;
  cursor: pointer;
}

.suggestion-item:hover {
  color: black;
}

.see-all-cities {
  color: #757575;
  cursor: pointer;
}

.see-all-cities:hover {
  color: black;
}

.alerts-container {
  position: fixed;
  display: inline-block;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

#number-of-events {
  display: inline;
  width: 300px;
  color: #a42f15;
}

#number-of-events-input {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin-left: 10px;
  width: 45px;
  height: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  #city-search {
    width: 100%;
    padding: 5px;
  }

  .city {
    font-size: 14px;
    width: 200px;
    height: auto;
    margin: 5px;
  }

  #number-of-events {
    width: 100%;
    text-align: center;
  }

  #number-of-events-input {
    width: 40px;
    height: 28px;
  }
}

@media (max-width: 480px) {
  #city-search {
    width: 100%;
    padding: 5px;
  }

  .city {
    font-size: 12px;
    width: 150px;
    height: auto;
    margin: 5px;
  }

  #number-of-events {
    width: 100%;
    text-align: center;
  }

  #number-of-events-input {
    width: 35px;
    height: 25px;
  }
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#event-list {
  width: 800px;
  list-style: none;
  display: inline;
  justify-content: center;
}

.event {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 20px;
}

.event:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.details {
  font-style: italic;
  font-size: 15px;
}

.details-btn {
  display: inline-block;
    padding: 8px 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.9em;
    color: #fff;
    background-color: #c62b29;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.details-btn:hover {
  background-color: #a42f15;
}

@media (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 992px) {
  #event-list {
    width: 100%;
  }

  .event {
    width: calc(100% - 55px);
  }
}

@media (max-width: 768px) {
  .event {
    width: calc(100% - 58px);
  }

  .details-btn {
    padding: 10px 20px;
    font-size: 1em;
  }
}

@media (max-width: 576px) {
  .details-btn {
    padding: 12px 25px;
    font-size: 1.1em;
  }
}
